body {
  text-align: center;


}

.board {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.card, .king, .queen {
  height: 200px;
  width: 150px;
  border: 1px solid black;
  background-color: rgba(255,255,0,1);
  border-radius: 10px;
  float: left;
  margin: 8%;
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
  font-size: 0;
}